*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
nav {
    width: 100%;
    text-align: right;
}
nav ul li {
    display: inline-block;
    margin-right: 17px;
    margin-top: 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
nav ul li i{
    font-size: 20px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.4);
}
nav ul li img {
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}
#search-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}
#search-box img {
    padding: 30px;
}
#search {
    border: rgb(206, 206, 204) 0.5px solid;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#search input {
    width: 55ch;
    border: none;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
}
#search input:focus {
    outline: none;
}
#search i {
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.5);
}
#search-box span {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}
#span-1 {
    margin-right: 10px;
}
#span-2 {
    margin-left: 10px;
}
#bottom-bar {
    width: 94%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}
#bottom-bar i {
    color: rgb(24, 80, 236);
    font-size: 20px;
    margin-left: 10px;
}